# udev rules for serial device

SUBSYSTEM=="tty", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", SYMLINK+="ttyDISPLAY",OWNER+="vikings", MODE+="0666"